<%= content_for(:title, full_title(t('user.login.text'))) %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
    <fieldset>
      <legend><%= t('user.login.text') %></legend>
      <%= bootstrap_form_for(:session, url: sessions_path) do |f| %>
        <%= f.text_field :email, label: t('user.email') %>
        <%= f.password_field :password, label: t('user.password') %>
        <%= f.submit t('user.login.text') %> |
        <%= link_to t('user.register.text'), signup_path %>
      <% end %>
    </fieldset>
  </div>
</div>
