<article itemscope itemtype="http://schema.org/BlogPosting" class="post">
  <section>
    <%= image_tag post.image.medium.url, class: 'post-image', itemprop: 'thumbnailUrl', size: '200x125' %>
    <header>
      <h1 itemprop="about"><%= link_to post.title, post_path(post) %></h1>
      <strong class="date"><%= post.created_at.to_date.to_j %></strong>
      <% if current_user && current_user.admin? %>
      <nav class="post-control-links">
        <%= link_to t('post.delete.text'), admin_post_path(post), method: :delete, 
        data: { confirm: t('post.delete.confirmation') },
        class: 'btn btn-danger btn-xs' %>
        <%= link_to t('post.edit.text'), edit_admin_post_path(post),
        class: 'btn btn-primary btn-xs' %>
      </nav>
      <% end %>
    </header>
    <p itemprop="articleBody"><%= post.digest %></p>
  </section>
  <div class="clearfix"></div>
  <nav>
    <ul class="post-tags">
    <% post.tags.each do |tag| %>
      <li><%= link_to tag, tags_path(tag: tag) %></li>
    <% end %>
    </ul>
  </nav>
  <div class="clearfix"></div>
</article>
